
<template>
    <div>
        <h1>Soy un componente</h1>
        <div v-html="myHTML"></div>
        {{title}}
        <hr>
        <div v-if="showName">
            {{tasks[1].title}}
        </div>

        <ul>

            <li v-for="task in tasks"> 
                
                {{task.title}}

            </li>
        </ul>
    </div>
</template>
<script>
// eslint-disable-next-line
/* eslint-disable */
export default {
    data(){
        return {
            title: 'Hoja Vuejs',
            user: {
                firstName: 'Joe',
                lastName: 'McMille'
            },
            myHTML: '<h3>Hola :D</h3>',
            showName: false,
            tasks: [
                {title: 'Comer'},
                {title: 'Cenar'},
            ]
        }
    }
}
</script>
<style>

</style>


