<template>
  <div>
    <div class="card mb-5" v-show="showexamen">
      <div class="row card-body">
        <div class="col-12 pb-5">
          <div class="row">
            <div class="col-1">
              <router-link to="/list">
                <button type="button" class="btn btn-primary bmd-btn-fab">
                  <i class="material-icons">arrow_back</i>
                </button>
              </router-link>
            </div>

            <div class="col text-center">
              <h1>{{aux}}</h1>
            </div>

            <div class="col"></div>
          </div>
        </div>

        <div class="col-12 p-5">
          <div class="row">
            <div class="col-3"></div>
            <div class="col p-3">
              <h4>Ingresa el nombre:</h4>
              <fieldset class="form-group">
                <label for="examen" class="bmd-label-static">Ejm: Examen de Matematicas A</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Ingrese el nombre del examen"
                  v-model="nombre"
                  required
                >
              </fieldset>

              <div class="d-flex justify-content-center pt-5">
                <button
                  v-on:click="createExamen($store.getters.id_docente)"
                  class="btn btn-raised btn-primary d-flex align-items-center"
                >
                  <i class="material-icons pr-2">check</i> Crear Examen
                </button>
              </div>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-5" v-if="estado">
      <div class="card-body">
        <div class="col-12 pt-3 p-5">
          <h1 class="text-center">{{nombre}}</h1>
          <h4>{{contadorPreguntas}}. Ingresa tu pregunta</h4>
          <fieldset class="form-group">
            <label for="pregunta1" class="bmd-label-static">Introduce tu pregunta</label>
            <input
              type="text"
              class="form-control"
              id="pregunta1"
              v-model="nombre_pregunta"
              required
            >
            <span class="bmd-help">Ejm: ¿Cuántos dias tiene la Semana?</span>
          </fieldset>
        </div>
        <!-- Botones para las opciones de tipo de pregunta-->
        <div class="col-12">
          <div class="radio-tile-group">
            <div class="input-container" v-on:click="showOpcion(true, false, false)">
              <input id="walk" class="radio-button" type="radio" name="radio">
              <div class="radio-tile">
                <div class="icon walk-icon">
                  <i class="material-icons text-center p-2 icoop">group_work</i>
                </div>
                <label for="walk" class="radio-tile-label">Multi opción</label>
              </div>
            </div>

            <div class="input-container" v-on:click="showOpcion(false, true, false)">
              <input id="bike" class="radio-button" type="radio" name="radio">
              <div class="radio-tile">
                <div class="icon bike-icon">
                  <i class="material-icons text-center p-2 icoop">speaker_notes_off</i>
                </div>
                <label for="bike" class="radio-tile-label">Verdadero o Falso</label>
              </div>
            </div>

            <div class="input-container" v-on:click="showOpcion(false, false, true)">
              <input id="drive" class="radio-button" type="radio" name="radio">
              <div class="radio-tile">
                <div class="icon car-icon">
                  <i class="material-icons text-center p-2 icoop">short_text</i>
                </div>
                <label for="drive" class="radio-tile-label">Respuesta Corta</label>
              </div>
            </div>
          </div>
        </div>

        <div id="Multi" class="col-12 mt-5 p-4 border border-primary" v-if="statusMulti">
          <h4>Ingresa alternativa</h4>

          <div class="row p- bg-light">
            <div class="col-10">
              <fieldset class="form-group">
                <label for="alternativa1" class="bmd-label-static">Ingrese su alternativa</label>
                <input
                  v-model="alter_uno"
                  type="text"
                  class="form-control"
                  id="alternativa1"
                  required
                >
              </fieldset>
            </div>
            <div class="col">
              <label>
                <input type="checkbox" class="option-input checkbox">
                Correcta
              </label>
            </div>
          </div>
          <div class="row p- bg-light">
            <div class="col-10">
              <fieldset class="form-group">
                <label for="alternativa2" class="bmd-label-static">Ingrese su opción</label>
                <input
                  v-model="alter_dos"
                  type="text"
                  class="form-control"
                  id="alternativa2"
                  required
                >
              </fieldset>
            </div>
            <div class="col">
              <label>
                <input type="checkbox" class="option-input checkbox">
                Correcta
              </label>
            </div>
          </div>
          <div class="row p- bg-light">
            <div class="col-10">
              <fieldset class="form-group">
                <label for="alternativa3" class="bmd-label-static">Ingrese su opción</label>
                <input
                  v-model="alter_tres"
                  type="text"
                  class="form-control"
                  id="alternativa3"
                  required
                >
                <span class="bmd-help">We'll never share your email with anyone else.</span>
              </fieldset>
            </div>
            <div class="col">
              <label>
                <input type="checkbox" class="option-input checkbox">
                Correcta
              </label>
            </div>
          </div>
        </div>

        <div id="vof" class="col-12 mt-5 p-4 border border-primary" v-if="statusVoF">
          <div class="row">
            <div class="clo-12 p-3">
              <h5>Escoja la alternativa correcta</h5>

              <label>
                <input type="radio" class="option-input radio" name="example" checked>
                Verdadero
              </label>
              <br>
              <label>
                <input type="radio" class="option-input radio" name="example" checked>
                Falso
              </label>
            </div>
          </div>
        </div>

        <div id="respuestacorta" class="col-12 mt-5 p-4 border border-primary" v-if="statusCorta">
          <h4>Ingresa una respuesta corta</h4>
          <fieldset class="form-group p-1">
            <label for="altcorta" class="bmd-label-static">Ingresa una respuesta corta</label>
            <input
              type="email"
              class="form-control"
              id="altcorta"
              placeholder="Ingresa una respuesta corta"
              v-model="alter_uno"
              required
            >
          </fieldset>
        </div>

        <div class="col-12 pt-3">
          <button
            v-on:click="createPregunta"
            class="btn btn-raised btn-primary d-flex align-items-end"
          >
            <i class="material-icons pr-2">save</i> Guardar
          </button>
        </div>
        <div v-if="statusList">
          <login-e></login-e>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Login from "./Login";
export default {
  /* eslint-disable no-console */
  name: "Examen",
  components: {
    "login-e": Login
  },
  data() {
    return {
      id_docente: 1,
      id_examen: 0,

      nombre: "",
      nombre_pregunta: "",
      statusList: false,
      statusCrear: true,
      statusAtras: true,

      statusMulti: false,
      statusVoF: false,
      statusCorta: false,
      alter_uno: "ESto es prueba1",
      alter_dos: "ESto es prueba2",
      alter_tres: "ESto es prueba3",

      contadorPreguntas: 1,
      // Banderas
      estado: false,
      showexamen: true,
      aux: "Crear examen"
    };
  },
  methods: {
    showOpcion(vmulti, vfov, vc) {
      this.statusMulti = vmulti;
      this.statusVoF = vfov;
      this.statusCorta = vc;
    },
    createExamen(value) {
      
      axios
        .post(
          "http://localhost:4567/docente/examen",
          {
            id_docente: value,
            nombre_examen: this.nombre
          },
          {
            headers: {
              "Content-type": "application/x-www-form-urlencoded"
            }
          }
        )
        .then(result => {
          this.showexamen = !this.showexamen;
          console.log(result);
          this.estado = true;
          this.getidExamen();
          this.aux = this.nombre;
        })
        .catch(err => {
          console.log(err);
        });
    },
    getidExamen() {
      axios
        .get("http://localhost:4567/examen/buscar/" + this.nombre)
        .then(response => {
          this.id_examen = response.data.response.id;
        })
        .catch(e => {
          console.log("Error 1:" + e);
        });
    },
    createPregunta() {
      if (this.statusMulti) {
        this.tipo_pregunta = 1;
        console.log("Soy Multi Opción");
      } else if (this.statusVoF) {
        this.tipo_pregunta = 3;
        console.log("Soy verdadero y falso");
      } else if (this.statusCorta) {
        this.tipo_pregunta = 4;
        console.log("Soy respuesta corta");
      }


        axios
          .post(
            "http://localhost:4567/docente/examen/pregunta",
            {
              id_examen: this.id_examen,
              nombre_pregunta: this.nombre_pregunta,
              tipo_pregunta: this.tipo_pregunta,
              alter_uno: this.alter_uno,
              alter_dos: this.alter_dos,
              alter_tres: this.alter_tres
            },
            {
              headers: {
                "Content-type": "application/x-www-form-urlencoded"
              }
            }
          )
          .then(result => {
            console.log(result);

            this.nombre_pregunta = "";
            this.alter_uno = "";
            this.alter_dos = "";
            this.alter_tres = "";
            this.contadorPreguntas++;
          })
          .catch(err => {
            console.log(err);
          });
   
    },

    irLogin() {
      this.statusCrear = false;
      this.statusList = true;
      this.statusAtras = false;
    }
  }
};
</script>
<style>
.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.radio-tile-group .input-container {
  position: relative;
  height: 7rem;
  width: 7rem;
  margin: 0.5rem;
}
.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #009688;
  border-radius: 5px;
  padding: 1rem;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
.radio-tile-group .input-container .icon i {
  width: 3rem;
  height: 3rem;
}
.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #009688;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #009688;
  border: 2px solid #009688;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon i {
  color: white;
  background-color: #009688;
}
.radio-tile-group
  .input-container
  .radio-button:checked
  + .radio-tile
  .radio-tile-label {
  color: white;
  background-color: #009688;
}

.icoop {
  color: #009688;
}
/* Estilos de Radio Button*/
* {
  font-family: "Roboto", sans-serif;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #009688;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

label {
  display: block;
  line-height: 40px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
/* Estilos de Boton Activate*/
</style>
