<template>
  <!--  View de comprobar el examen -->
  <div id="hello" class="d-flex justify-content-center align-items-center">
    <div class="card-body" v-if="stateCodigo">
      <div>
        <h1 class="text-center">Ingresar al Examen</h1>
        <p class="card-subtitle mb-2 text-muted text-center">Ingresa el código del examen</p>
        <div id="codigo" v-if="stateCodigo">
          <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">#</div>
            </div>
            <input
              type="number"
              class="form-control text-center"
              id="id_examen"
              v-model="id_examen"
              placeholder="Código"
              v-on:keyup.enter="getStateExamen"
            >
          </div>
          <div class="d-flex justify-content-center mt-5">
            <button
              type="submit"
              class="btn btn-outline-primary"
              v-on:click="getStateExamen()"
            >Ingresar al examen</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Registro del estudiante -->
    <div v-if="stateNombre">
      <label class="sr-only" for="inlineFormInputName2">Name</label>
      <input
        type="text"
        class="form-control mb-2 mr-sm-2"
        id="nombre_estudiante"
        placeholder="Escribe tu nombre"
        v-model="nombre_estudiante"
        required
      >
      
      <button
        type="submit"
        class="btn btn-primary mb-2"
        v-on:click="createEstudiante(nombre_estudiante)"
      >Submit</button>
    </div>

    <!-- Examen con el WS -->
    <div v-if="stateWS">
      <div class="d-flex justify-content-center">
        <div v-if="statusNext">
          <h5>{{examen.response[i].pregunta}}</h5>
          <div v-show="false">
            {{alternativas = examen.response[i].alternativas}}
 
            {{tipo_pregunta =examen.response[i].tipo_pregunta }}
          </div>

          <div v-if="examen.response[i].tipo_pregunta == 1 ">
            <div v-for="item in alternativas" :key="item.id">
              <input type="radio" v-model="selectOption" :value="item.nombre" required>
              {{ item.value }}
              <label
                class="form-check-label"
                for="exampleRadios1"
              >{{item.nombre}}</label>
            </div>
          </div>
          <div v-else-if="examen.response[i].tipo_pregunta == 3 ">
            <input type="radio" id="verdadero" value="Verdadero" v-model="selectOption">
            <label for="one">Verdadero</label>
            <br>
            <input type="radio" id="falso" value="Falso" v-model="selectOption">
            <label for="two">Falso</label>
            <br>
          </div>
          <div v-else>
            <input v-model="selectOption" placeholder="Escribe tu respuesta" required>
          </div>

          <button @click.prevent="enviar(limit,examen.response[j].id)">SIGUIENTE</button>
          <div>
           <vue-step :now-step= i :step-list="limit"></vue-step>

          </div>
        </div>
      </div>
    </div>




    <!-- Animacion -->
    <div v-if="statusAnim">
      <breeding-rhombus-spinner :animation-duration="2000" :size="250" color="#009688" class="p-5"/>
    </div>
    
  </div>
</template>





<script>
import axios from "axios";
import vueStep from 'vue-step'
import { BreedingRhombusSpinner } from "epic-spinners";
export default {
  components: {
    BreedingRhombusSpinner,
    vueStep
  },
  name: "hello",
  data() {
    return {
      selectOption: "",
      statusNext: true,
      statusAnim: false,
      data: "",
      id_examen: "",
      stateNombre: false,
      stateCodigo: true,
      stateWS: false,
      nombre_estudiante: "",
      examen: 0,
      result: [],
      socket: 0,
      size: 0,
      i: 0,
      ok: "",
      alternativas: 0,
      limit: 0,
      j: 1,
      tipo_pregunta: 0,
      all:0
    };
  },
  methods: {
    /* eslint-disable no-console */
    getStateExamen() {
      axios
        .get("http://localhost:4567/examen/status/" + this.id_examen)
        .then(response => {
          this.result = response.data.status;
          if (response.data.status == true) {
            this.stateNombre = response.data.status;
            this.stateCodigo = false;
          }
        })
        .catch(e => {
          console.error("Error 1:" + e);
        });
    },
    createEstudiante(value) {
      this.estado = false;
      axios
        .post(
          "http://localhost:4567/estudiante/add",
          {
            nombre_estudiante: value
          },
          {
            headers: {
              "Content-type": "application/x-www-form-urlencoded"
            }
          }
        )
        .then(result => {
          console.log(result);
          this.stateWS = true;
          this.stateNombre = false;
          this.nombre_estudiante = value;
          this.connect();
        })
        .catch(err => {
          console.log(err);
        });
    },
    connect() {
      this.socket = new WebSocket("ws://localhost:4567/socket");
      this.socket.onopen = this.sendId;
      this.socket.onerror = this.errorWs;
      this.socket.onmessage = this.messageWs;

    },

    // openWs() {
    //   this.status = "connected";
    //   this.socket.send(this.id_examen)
    //   console.log("connected");
    // },
    sendId() {
      this.status = "connected";
      console.log("connected");
      this.socket.send(this.id_examen);
    },
    errorWs(evt) {
      this.status = "error";
      console.log(evt.data);
    },
    // Se hace un parse del string a JSON
    messageWs(evt) {
      this.examen = JSON.parse(evt.data);
      this.limit =Object.keys(this.examen.response).length
      
    },
    sendMessage(msgData) {
      this.socket.send(msgData);
    },

    // Se envia el id del examen por WS
    sendIdExamen(msgData) {
      this.socket.send(msgData);
      
    },
    enviar(limit, id_pregunta) {
      axios
        .post(
          "http://localhost:4567/estudiante/respuesta/save",
          {
            id_examen: this.id_examen,
            id_pregunta: id_pregunta,
            respuestaSelect: this.selectOption,
            nombre_estudiante: this.nombre_estudiante
          },
          {
            headers: {
              "Content-type": "application/x-www-form-urlencoded"
            }
          }
        )
        .then(result => {
          if (this.i != this.limit - 1) {
            console.log(result);
            this.i++;
          } else {
            this.statusSalir = true;
            this.statusNext = false;
            this.statusAnim = true;
          }

          this.connect();
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#hello {
  height: 74vh;
}
</style>
