<template>
  <div class="container">
    <div class="row">
      <h1 v-on="getId($store.getters.id_docente )"></h1>
      <p v-on:scroll="getExamenes()"></p>

      <div class="col-12 d-flex justify-content-center border border-primary p-3">
        <router-link to="/addExamen">
          <button type="button" class="btn btn-primary bmd-btn-fab mr-2">
            <i class="material-icons">create</i>
          </button>
          Crear Examen
        </router-link>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <table class="table mt-5">
          <thead>
            <tr>
              <th colspan="4">
                <h1>Examenes Creados</h1>
              </th>
            </tr>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre del examen</th>
              <th scope="col">Visualizar</th>
              <th scope="col">Activar</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="r in result_docente" :key="r.id">
              <td>{{r.id}}</td>
              <td class="text-uppercase">{{r.nombre}}</td>
              <td>
                <a
                  :href="'http://localhost:4567/examen/resultados/'+r.id" 
                  class="btn btn-outline-primary"
                >Descargar Resultados</a>
              </td>
              <td>
                <label class="switch">
                  <input type="checkbox" v-on:click="getActivate(r.id)">
                  <span class="slider"></span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12">
        <div v-if="stateExamen">
          <hr>
          <h1 v-if="!error">{{nombreExamen}}</h1>
          <p v-if="!error">{{ nombrePregunta}}</p>

          <div v-if="error">
            <div class="alert alert-dark" role="alert">No hay ningun registro aun... :D</div>
          </div>
          <div></div>
          <form v-if="!error" action v-html="optionAlternativ"></form>
          <!-- Corregir tema de la consulta esta apuntando a las preguntas cuando debe salir al examen -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "List",
  data() {
    return {
      data: "",
      result_docente: [],
      id_docente: 0,
      error: false,
      stateExamen: false,
      nombreExamen: "",
      alternativas: ""
    };
  },
  methods: {
    // eslint-disable-next-line
    /* eslint-disable */
    getId(value) {
      this.id_docente = value;
    },
    getExamenes() {
      axios
        .get("http://localhost:4567/docente/examenes/" + this.id_docente)
        .then(response => {
          this.result_docente = response.data.response;
          this.error = false;
        })
        .catch(e => {
          console.log("Error 1:" + e);
        });
    },
    getExamen(id, nombre) {
      this.optionAlternativ = "";
      axios
        .get("http://localhost:4567/examen/" + id)
        .then(response => {
          this.nombreExamen = "Titulo: " + nombre;
          this.error = false;
          this.data = response.data.response;
          this.stateExamen = true;

          this.data.forEach(element => {
            this.nombrePregunta = "Pregunta " + element.pregunta;
            this.alternativas = element.alternativas;
          });
          this.alternativas.forEach(element => {
            this.optionAlternativ +=
              '<input  type="radio" name="alter" value="' +
              element.nombre +
              '" >' +
              element.nombre +
              "<br>";
          });
        })
        .catch(e => {
          this.error = true;
          console.log("Error 2: " + e);
        });
    },
    getActivate(id_exa) {
      axios
        .get("http://localhost:4567/examen/status/" + id_exa)
        .then(response => {
          alert("Perfecto");
        })
        .catch(e => {
          this.error = true;
          console.log("Error 2: " + e);
        });
    },
    descargarCSV(id_exa) {
      axios
        .get("http://localhost:4567/examen/resultados/" + id_exa)
        .then(response => {
          alert("Perfecto");
        })
        .catch(e => {
          this.error = true;
          console.log("Error 2: " + e);
        });
    }
  },
  mounted() {
    this.getExamenes();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #009688;
}

input:focus + .slider {
  box-shadow: 0 0 1px #009688;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>