<template>
  <div id="login">
    <div class="row m-5">
      <div class="col-12 d-flex justify-content-center align-items-center " v-if="statusLogin">
        <div class="card" style="width: 50em; height:20em;">
          <div class="card-body p-5">
            <h1 class="text-center font-Major">
              <span class="font-Major c-primary">P</span>rove docentes
            </h1>

            <h6 class="card-subtitle mb-2 text-muted text-center">Ingresa tu ID</h6>
            <div v-if="statusLogin" class="form-group text-center">
              <input
                id="id_docente"
                name="id_docente"
                type="number"
                class="form-control text-center"
                placeholder="Enter ID"
                v-model="id_docente"
                required
                v-on:keyup.enter="login"
              >
            </div>
            <div class="d-flex justify-content-center p-3">
              <button v-on:click="login()" class="btn btn-outline-primary">Iniciar Sesión</button>
            </div>
          </div>

          <div
            class="alert alert-secondary"
            role="alert"
            v-if="statusError"
          >El ID de usuario no existe</div>

          <div class="alert alert-danger" role="alert" v-if="errorVacio">Debes ingrese un ID</div>
        </div>
      </div>
      <div class="col-12" v-if="statusList">
        <list-l></list-l>
      </div>
      <div class="col-12" v-if="statusCrear">
        <examen-l></examen-l>
      </div>
    </div>
  </div>

  <!-- <button id="button" type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button> -->
</template>

<script>
// eslint-disable-next-line
import axios from "axios";

// import Hello from "./Hello";
import List from "./List";
import CrearExamen from "./CrearExamen";

export default {
  name: "Login",
  components: {
    "list-l": List,
    "examen-l": CrearExamen
  },
  data() {
    return {
      statusList: false,
      statusLogin: true,
      statusCrear: false,
      error: false,
      result_docente: [],
      boton: false,
      statusError: false,
      errorVacio: false
    };
  },

  methods: {
    validadorSpace() {
      if (id_docente.value.trim() == "") {
        return true;
      }
      return false;
    },
    /* eslint-disable no-console */
    login() {
      if (this.validadorSpace()) {
        this.errorVacio = true;
        this.statusError = false;
      } else {
        axios
          .get("http://localhost:4567/logeo/" + this.id_docente)
          .then(response => {
            this.id_docente = response.data.response.id;
            this.statusList = response.data.status;
            this.statusLogin = false;
            this.$store.commit("changed_docente", this.id_docente);
            if (this.id_docente != null) {
              this.statusList = true;
              this.statusError = false;
            } else {
              this.statusList = false;
              this.statusError = true;
              this.statusLogin = true;
              this.errorVacio = false;
            }
            this.boton = true;
          })
          .catch(e => {
            //console.log("Error 2:" + e);
          });
      }
    }
  }
};
</script>

<style scoped>

</style>