<template>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Ingrese el codigo de su Usuario</h5>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Code de Usuario"
          aria-label="Code de Usuario"
          aria-describedby="Code de Usuario"
          v-model="id_docente"
          id="docente"
        >
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            v-on:click="getExamen_Docente"
          >Buscar Examenes</button>
        </div>
      </div>
      <p v-for="r in result_docente" :key="r.id">
          {{r.nombre}}
        <button v-on:click="getExamen(r.id,r.nombre)">Ver Examen</button>
      </p>
      <div v-if="error">No hay ningun registro aun... :D</div>
      <div></div>
      <form v-if="!error" action v-html="optionAlternativ"></form>
      <div class="row" v-if="!error">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">

            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Examen Matematicas</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Examen Ciencias Naturales</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
              Preguntas 1 
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Preguntas 2</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Preguntas 3</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Preguntas 4</div>
          </div>
        </div>
      </div>

      <h1 v-if="!error">{{nombreExamen}}</h1>
      <p v-if="!error">{{ nombrePregunta}}</p>

    <button v-on:click="getExamen_Docente">Boton</button>
    
    <p v-for="r in result_docente" :key="r.id">
      {{r.nombre}}
      <button v-on:click="getExamen(r.id,r.nombre)">Ver Examen</button>
    </p>
    <hr>
    <h1 v-if="!error">{{nombreExamen}}</h1>
    <p v-if="!error">{{ nombrePregunta}}</p>
    <!--
    <p v-if="!error" v-for="a in alternativas" >
      {{ a.nombre}}
    </p >
    -->
    <div v-if="error">No hay ningun registro aun... :D</div>
    <div></div>
    <form v-if="!error" action v-html="optionAlternativ"></form>
    <!-- Corregir tema de la consulta esta apuntando a las preguntas cuando debe salir al examen -->
      <div v-if = "!error" >
         <p  v-for="a in alternativas"  :key="a.id">{{ a.nombre}}</p>
      </div>
         




      <!-- Corregir tema de la consulta esta apuntando a las preguntas cuando debe salir al examen -->
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {

  name: "MostrarExamen",
  data() {
    return {
      data: "",
      nombrePregunta: "",
      alternativas: "",
      correcta: "",
      error: false,
      id_examen: 1,
      id_docente: 1,
      result_docente: [],
      nombreExamen: "",
      optionAlternativ: ""
    };
  },
  methods: {
    /* eslint-disable no-console */
    getExamen_Docente() {
      axios
        .get("http://localhost:4567/docente/examenes/" + this.id_docente)
        .then(response => {
          this.error = false;

          this.result_docente = response.data.examenes;
          if (this.result_docente.length == 0) {
            this.error = true;
          }
        })
        .catch(e => {
          this.error = true;
          console.log("Error 1:" + e);
        });
    },
    getExamen(id_examen, nombre) {
      this.optionAlternativ = "";
      axios
        .get("http://localhost:4567/examen/" + id_examen)
        .then(response => {
          this.nombreExamen = "Titulo: " + nombre;
          this.error = false;
          this.data = response.data.response;

          this.data.forEach(element => {
            this.nombrePregunta = "Pregunta " + element.pregunta;
            this.alternativas = element.alternativas;
          });
          this.alternativas.forEach(element => {
            this.optionAlternativ +=
              '<input  type="radio" name="alter" value="' +
              element.nombre +
              '" >' +
              element.nombre +
              "<br>";
          });
        })
        .catch(e => {
          this.error = true;
          console.log("Error 2: " + e);
        });
    }
  },
  mounted() {
    this.getExamen();
  }
};
</script>
<style>
</style>


