<template>
  <div id="app" v-on="comprobarSesion($store.getters.id_examen)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5 pr-5">
      <a class="navbar-brand d-flex align-items-center a" href="http://localhost:8080">
        <span class="pt-2 font-Major-2">
          <span class="font-Major c-primary">P</span>rove
        </span>
      </a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">

        <ul class="navbar-nav">
    
      <li class="nav-item active">
            <a class="nav-link" href="http://localhost:8080">
              Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/login">Login Docente</router-link>
          </li>
            <li class="nav-item">
            <router-link class="nav-link" to="/examen">Ver Examen</router-link>
          </li>
 
        </ul>
      </div>
    </nav>

    <router-view class="container pt-5"></router-view>
    <footer class="text-center pt-5">
      <div class="p-3">Create @diegotony @axfernandoleon</div>
    </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      stateNormal: true
    };
  },
  methods: {
    comprobarSesion(value) {
      if (value == null) {
        this.stateNormal = true;
        this.stateLogin = false;
      }
      if (value > 0) {
        this.stateLogin = true;
        this.stateNormal = false;
      }
    },
    salir() {
      this.id_docente = null;
      this.$store.commit("changed_docente", this.id_docente);
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Major+Mono+Display|ZCOOL+KuaiLe");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
.c-primary {
  color: #009688;
}
#app {
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/** Fuentes de texto **/
.font-Major-2 {
  font-family: 'Major Mono Display', monospace;
  font-size: 2em;
}
.font-Major {
  font-family: 'Major Mono Display', monospace;
}


/** Footer **/
footer {
  height: 10em;
  background-color: #009688;
  color: #fff;
}

</style>
